$main-color: #0E0D0D;
$mainFontColor: #120E0A;



.headerContent{
  background-image: url(./City.jpg);
  background-size: cover;
  padding: 200px;
  background-position: center;

  .desktopMobile{
    color: white;
    font-family: 'Calistoga', cursive;
    text-align: center;
    h3{
      font-size: 50px;
      color: #EBDAC5;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $mainFontColor;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
       user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Opera and Firefox */
    }
  }
  .mobileText{
    display: none
  }
}

@media screen and (max-width: 1097px) {
  .headerContent{
    background-image: url(./City.jpg);
    padding: 80px;
    .desktopMobile{
      display: none
    }
    .mobileText{
      display: block;
      color: white;
      font-family: 'Calistoga', cursive;
      text-align: center;
        p{
          font-size: 30px;
          color: #EBDAC5;
          -webkit-text-stroke-width: .5px;
          -webkit-text-stroke-color: $mainFontColor;

        }
      }
  }
}
@media screen and (max-width: 414px) {
  .headerContent{
    background-image: url(./City.jpg);
    padding: 80px;
    .desktopMobile{
      display: none
    }
    .mobileText{
      display: block;
      color: white;
      font-family: 'Calistoga', cursive;
      text-align: center;
        p.first-child{
          font-size: 20px;
          margin: 50px;
          color: #EBDAC5;
          -webkit-text-stroke-width: .8px;
          -webkit-text-stroke-color: $mainFontColor;

        }
      }
  }
}
