$main-color: #0E0D0D;
$headerone-color: #9C093C;
$headertwo-color: #FFFFFF;
$buttonColorHeader: #930D36;

$primaryFont: 'Roboto', sans-serif;


// 'Noto Sans TC', sans-serif;
// 'Patua One', cursive;
// 'Francois One', sans-serif
// 'Fredoka One', cursive;

.headerContent{
  padding-top: 100px;
  padding-bottom: 50px;
  }

  h1{
    color: white;
    font-family: $primaryFont;
  }
  h2{
    color: $headertwo-color;
    font-family: $primaryFont;
    opacity: 0.8;
  }
  h3{
    color: $headertwo-color;
    font-family: $primaryFont;
    opacity: 0.8;
  }
  .btnColor{
    background: $buttonColorHeader;
    color: white;

   .col{
     padding-right:0;
     padding-left:0;
   }
   ul{
     li
     {
       list-style-type: none;
       margin-right: 40px;
       padding: 0;
       color: white
     }
   }
}
