$main-color: #0E0D0D;
$headerone-color: #9C093C;
$headertwo-color: #FFFFFF;
$buttonColorHeader: #930D36;

.headerContent{
  padding-top: 100px;
  padding-bottom: 50px;
  background: $main-color;
  background: black;
  background-image: linear-gradient(#0C0C0C, #161616);
  h1{
    color: #E3B600;
    font-family: 'Bebas Neue', cursive;
  }
  h2{
    color: $headertwo-color;
    font-family: 'Bebas Neue', cursive;
    opacity: 0.8;
  }
  h3{
    color: $headertwo-color;
    font-family: 'Bebas Neue', cursive;
    opacity: 0.8;
  }
  .btnColor{
    background: $buttonColorHeader;
    color: white;
   }
   .col{
     padding-right:0;
     padding-left:0;
   }
   ul{
     li
     {
       list-style-type: none;
       margin-right: 40px;
       padding: 0;
       color: white
     }
   }
}
